<footer>
    <!-- Linking the Footer Stylesheet -->
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">


    <div class="footer-container">
        <!-- College Logo -->
        <div class="footer-logo">
            <a href="#backImage"><img src="/images/logo.png" alt="College Logo"></a>
        </div>

        <!-- Explore Section -->
        <div class="footer-nav">
            <h3>Explore</h3>
            <ul>
                <li><a href="/calendar">Academic Calendar</a></li>
                <li><a href="/fees">Online Fees Payment</a></li>
                <li><a href="/reach">How to Reach</a></li>
                <li><a href="/recruitment">Recruitment</a></li>
                
                <!-- Complaints (Dropdown) -->
                <li class="dropdown">
                    <a href="#">Complaints ▼</a>
                    <ul class="dropdown-menu">
                        <li><a href="/complaints/networking">Networking Complaint</a></li>
                        <li><a href="/complaints/scst">Grievance Committee SC/ST Cell</a></li>
                        <li><a href="/complaints/anti-ragging">Anti-Ragging Committee</a></li>
                        <li><a href="/complaints/internal">Internal Complaint Committee</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <!-- Reach Us -->
        <div class="footer-contact">
            <h3>Reach Us</h3>
            <p>
               Permanent Adress:
               Survey N. 140,141/1 behind Br. Sheshrao Wankhade Shetkari 
               Sahkari Soot Girni,
               Village - Waranga, PO - Dongargaon(Butibori),
               Tahsil- Nagpur (Rural), District Nagpur, Maharashtra-
               441108
            </p>
            <p>Email: <a href="mailto:registrar@iiitn.ac.in">registrar@iiitn.ac.in</a></p>
            <p>Phone: <a href="tel:+91 9405215010">+91 9405215010</a></p>
        </div>

        <!-- Social Media -->
        <div class="footer-social">
            <h3>Connect With Us</h3>
            <div class="social-icons">
                <a href="https://x.com/IIITN_OFFICIAL" target="_blank"><i class="fab fa-x-twitter"></i></a>
                <a href="https://www.linkedin.com/in/iiitnofficial/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://www.instagram.com/iiitnagpur/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.youtube.com/channel/UCdABXietns2bXshI0nstH2A" target="_blank"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>

    <!-- Copyright Section -->
    <div class="footer-bottom">
        <p>&copy; <%= new Date().getFullYear() %> Indian Institute of Information Technology, Nagpur . All Rights Reserved.</p>
    </div>
   <script src="/scripts/footer.js"></script>
</footer>
