body{
    font-family: "Atma", serif;
    min-height: 100vh;
    min-width: 100vw;
}


div#backImage
{
    position: relative;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    box-shadow:
            0 -10px 10px -5px rgba(0, 0, 0, 0.5),
            /* Top shadow */
            0 10px 10px -5px rgba(0, 0, 0, 0.5);
        /* Bottom shadow */
}

hr
{
    color: rgb(253, 92, 56);
}


div#college_name
{
    position: absolute;
    top: 1vh;
    left: 50;
    z-index: 12;
    /* height: 8vh; */
    width: 85vw;
}

div#college_name .college_logo > a>img{
    height: 10vh;
    width: 7vw;
    margin-right: 1.25vw;
    float: left;
}

div.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.5vh;
}





/* Header for the file */
div#siteHead {
    height: 7vh;
    width: 85vw;
    margin-top: 1.5vh;
    float: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(28, 121, 218);
        background: linear-gradient(277deg, rgba(28, 121, 218, 0.7170517865349264) 0%, rgba(136, 194, 240, 0.8094887613248425) 46%, rgba(72, 164, 250, 0.7366596296721813) 100%);
}

div#siteHead>a>img {
    height: 5vh;
    width: 3vw;
    margin: 0px;
    padding: 0px;
}

div#siteHead > a {
    text-decoration: none;
    color: white;
    font-size: 2.5vh;
}



/* Set the width and height of the carousel */
div#carouselExampleAutoplaying {
    width: 100vw;
    /* Full viewport width */
    height: 100vh;
    /* 100% of viewport height */
}


.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: rgba(0, 0, 0, 0.248);
    /* Change background color */
    border-radius: 50%;
    /* Make it circular */
}

.carousel-control-next,
.carousel-control-prev {
    filter: brightness(1.5);
    /* Make it brighter */
}

.carousel-inner img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    /* Ensures the image covers the carousel area */
}








/* Get the news and Updates */
#News_area
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100vw;
}

#News_area > .update {
    margin: 2vw;
    width: 60vw;
    height: 90%;
    border: solid black 2px;
}

#News_area > .conferences {
    margin: 2vw;
    width: 20vw;
    height: 90%;
    border: solid black 2px;
}



/* Reasearch and Development slider */
.research {
    padding-left: 2.5vw;
    padding-right: 2.5vw;
}

.research > .researchSlider {
    width: 90vw;
    height: 50vh;
    padding: 0px 1vw;
    position: relative;
}

.researchSlider i {
    height: 50px;
    width: 50px;
    background: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    font-size: 1.75rem;
    top: 50%;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.23);
}

.researchSlider i:first-child {
    left: -0px;
}

.researchSlider i:last-child {
    right: -15px;
}

.research>.researchSlider >.research_list {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100% /3);
    list-style: none;
    gap: 3vw;
    overflow: hidden;   
}

.research>.researchSlider>.research_list>li {
    height: 50vh;
    width: 25vw;
}

.research_list.dragging >li{
    cursor: grab;
    user-select: none;
}




/* Student and Faculty slots */
#students_faculty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100vw;
}

#students_faculty>.students {
    margin: 2vw;
    width: 40vw;
    height: 90%;
    border: solid black 2px;
}

#students_faculty>.faculty {
    margin: 2vw;
    width: 40vw;
    height: 90%;
    border: solid black 2px;
}