div#backImage
{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:
            0 -10px 10px -5px rgba(0, 0, 0, 0.5),
            /* Top shadow */
            0 10px 10px -5px rgba(0, 0, 0, 0.5);
        /* Bottom shadow */
}

hr
{
    color: rgb(253, 92, 56);
}

div#header 
{
    position: absolute;
    top: 5vh;
    left: 50;
    z-index: 12;
    height: 8vh;
    width: 90vw;
    background: rgb(87, 60, 237);
    background: linear-gradient(277deg, rgba(87, 60, 237, 1) 0%, rgba(37, 157, 253, 0.8655111702884278) 52%, rgba(93, 73, 244, 1) 100%, rgba(69, 252, 97, 1) 100%);
}

/* Set the width and height of the carousel */
#carouselExampleAutoplaying {
    width: 100vw;
    /* Full viewport width */
    height: 100vh;
    /* 100% of viewport height */
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: rgba(0, 0, 0, 0.248);
    /* Change background color */
    border-radius: 50%;
    /* Make it circular */
}

.carousel-control-next,
.carousel-control-prev {
    filter: brightness(1.5);
    /* Make it brighter */
}

.carousel-inner img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    /* Ensures the image covers the carousel area */
}









#News_area
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100vw;
}

#News_area > .update {
    margin: 2vw;
    width: 60vw;
    height: 90%;
    border: solid black 2px;
}

#News_area > .conferences {
    margin: 2vw;
    width: 20vw;
    height: 90%;
    border: solid black 2px;
}




.research {
    padding: 100px;
    
}



#students_faculty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100vw;
}

#students_faculty>.students {
    margin: 2vw;
    width: 40vw;
    height: 90%;
    border: solid black 2px;
}

#students_faculty>.faculty {
    margin: 2vw;
    width: 40vw;
    height: 90%;
    border: solid black 2px;
}